<link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<div class="container-fluid">
  <hr width="80%">
  <div class="row">
    <div class="col-md-5">
      <app-forms (addQuote)="addNewQuote($event)"></app-forms>
    </div>
    <div class="col-md-7">
      <br>
      <br>
      <div class="display-quotes" *ngFor='let quote of quotes, let i = index'>
        <cite>--{{quote.author}}</cite>
        <blockquote>
          <h4 class="style"><span style="color: #26c6da">"{{quote.enterQuote}}"</span><br>  Date Created  {{quote.submitDate | date}}</h4>
        </blockquote>
        <div class="details">


          <button style="margin-bottom: 30px" class="btn btn-primary" (click)='toggleDetails(i)' type="button" name="button"> Details</button>
          <br>
          <app-details *ngIf="quote.showDetails" [quote]='quote' (isDelete)='deleteQuote($event, i)' (isPlus)='plusVote($event, i)'
            (isMinus)='minusVote($event, i)'> </app-details>
        </div>
      </div>
    </div>
  </div>
  </div>
